<form #f="ngForm">
  <div>
    <h1>Scraper</h1>
  </div>

  <div>
    <select id="pais" name="pais" #pais="ngModel" [(ngModel)]="scraper" (change)="setPagina(scraper.pagina)">
        <option disabled>Selecciona</option>
        <option *ngFor="let c of listaPais" [ngValue]="c">{{c.pais}}</option>
    </select>
  </div>
  <div>
    <button type="button" name="guardar" (click)="exportFile(scraper)">Generar Archivo
    </button>
  </div>
</form>